body {
     font-size: 25px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     background-color: rgb(166, 214, 214);
     display: flex;
     justify-content: center;
 }
 
 form {
     background: #cf8ba7;
     padding: 20px;
     border-radius: 8px;
     width: 300px;
     margin-bottom: 100px;
 }
 
 input[type="submit"]:hover {
     /* Add your hover styles here */
     background-color: #a56d7c; /* Example hover background color */
     cursor: pointer; /* Change cursor on hover */
 }
 